<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/und.research.github.io/css/new.css">
			<script type="text/x-mathjax-config">
  				MathJax.Hub.Config({
		    		extensions: ["tex2jax.js"],
    				jax: ["input/TeX", "output/HTML-CSS"],
    				tex2jax: {
      					inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      					displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      					processEscapes: true
    				},
    				"HTML-CSS": { fonts: ["TeX"] }
  				});
			</script>
  
			<script type="text/javascript"
  				src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js">
			</script>
		</head>
		<body>
			<nav>
	    		<ul><img src="/und.research.github.io/og-und.jpg" style="float:right; width:20%; height:auto; min-width:75px; max-width:150px;">
	        		<li>
					<div class="dropdown">
	      					<a class="dropbtn" id="research" href="/und.research.github.io">Research</a>
       		 				<div class="dropdown-content">
						<a href="/und.research.github.io/publications/plasmon">Nanomaterials</a>
						<a href="/und.research.github.io/publications/bioimaging">Bioimaging</a>
            					<a href="/und.research.github.io/publications/pt_et">Phototherapy</a>
            					<a href="/und.research.github.io/publications/rna_binding_protein">RNA-binding-protein</a>
        				</div>
      				</li>
		        	<li><a href="/und.research.github.io/education" id="education">Education</a></li>
		        	<li><a href="/und.research.github.io/group" id="members">Members</a></li>
				<li><a href="/und.research.github.io/publications" id="publications">Publications</a></li>
				<li><a href="/und.research.github.io/opening" id="opening">Opening</a></li>
				<li><a href="/und.research.github.io/contact" id="contact">Contact</a></li>
			</ul>
			</nav>
			
			<div class="container" style="width:70%; margin:auto">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
