<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/research.css">
		</head>
		<body>
			<nav>
	    		<ul><img src="/research_venn_diagram.jpg" style="float:right; width:20%; height:auto; min-width:75px; max-width:150px;">
	        		<li><a href="/" id="research">Research</a></li>
		        	<li><a href="/members" id="members">Members</a></li>
				<li><a href="/publications" id="publications">Publications</a></li>
				<li><a href="/openings" id="software">Software</a></li>
				<li><a href="/contact" id="contact">Contact</a></li>
			</ul>
				
			<!--<div style="margin-top:20px; margin-left:auto; margin-right:auto; width:75%;">-->
<ul>
    <li><a href="http://mreppert.github.io/publications/excitation of nanomaterials" style="width:25%" id="excitation of nanomaterials">excitation of nanomaterials</a></li>
    <li><a href="http://mreppert.github.io/publications/bioimaging and biosensing" style="width:25%" id="bioimaging and biosensing">bioimaging and biosensing</a></li>
    <li><a href="http://mreppert.github.io/publications/Proton and electron transfer" style="width:25%" id="Proton and electron transfer">Proton and electron transfer</a></li>
</ul>
    <li><a href="http://mreppert.github.io/publications/RNA-binding protein" style="width:25%" id="RNA-binding protein">RNA-binding protein</a></li>
			</nav>
			
			<div class="container" style="width:70%; margin:auto">
			
			{{ content }}
			
			</div>
		</body>
	</html>
