<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/und.research.github.io/css/new.css">
			<script type="text/x-mathjax-config">
  				MathJax.Hub.Config({
		    		extensions: ["tex2jax.js"],
    				jax: ["input/TeX", "output/HTML-CSS"],
    				tex2jax: {
      					inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      					displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      					processEscapes: true
    				},
    				"HTML-CSS": { fonts: ["TeX"] }
  				});
			</script>
  
			<script type="text/javascript"
  				src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js">
			</script>
		</head>
		<body>
			<nav>
	    		<ul><img src="/und.research.github.io/og-und.jpg" style="float:right; width:20%; height:auto; min-width:75px; max-width:150px;">
	        		<li>
					<div class="dropdown">
	      					<a class="dropbtn" id="research" href="/und.research.github.io" style="color:darkblue; font-size:170%">Research</a>
       		 				<div class="dropdown-content">
						<a href="/und.research.github.io/publications/plasmon">Nanomaterials</a>
						<a href="/und.research.github.io/publications/bio imaging">Bioimaging</a>
            					<a href="/und.research.github.io/publications/petransfer">Phototherapy</a>
            					<a href="/und.research.github.io/publications/biomolecule">Biomolecules</a>
        				</div>
      				</li>
		        	<li><a href="/und.research.github.io/education" id="education" style="color:darkblue; font-size:130%">Education</a></li>
		        	<li><a href="/und.research.github.io/group" id="members" style="color:darkblue; font-size:130%">Members</a></li>
				<li><a href="/und.research.github.io/publications" id="publications" style="color:darkblue; font-size:130%">Publications</a></li>
				<li><a href="/und.research.github.io/opening" id="opening" style="color:darkblue; font-size:130%">Opening</a></li>
				<li><a href="/und.research.github.io/contact" id="contact" style="color:darkblue; font-size:130%">Contact</a></li>
			</ul>
			</nav>
			
			<div class="container" style="width:70%; margin:auto">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
